<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
</head>

<body>

    <h3>Dear&nbsp;{{.Name}},</h3>

    <p>Thank you for booking an appointment at at Paradox Project: <b>Music Academy</b>! You
        have booked <b>{{.Players}}</b> Players at <b>{{.Date}}</b>. </p>

    <p>Please read the following carefully before the game:</p>

    <h4><u>Paradox Project: The Music Academy Game Rules</u></h4>

    <p>1. Please do not climb anywhere.</p>
    <p>2. Please respect the DO NOT TOUCH stickers.</p>
    <p>3. Please do not place any objects/personal items on top of the counter where the cash register is located
        due to
        the
        electrical & mechanical systems based there. You may ignore the items that are already placed there.</p>
    <p>4. Do not place any drinks, coffee, water ANYWHERE except on the counter top to the right of the entrance.
    </p>
    <p>5. You can leave your personal items on the hanger to the left or on the counter to the right of the
        entrance.</p>
    <p>6. The cameras, speakers & microphones are not part of the game. Do not touch them.</p>
    <p>7. The videos & sound clips are part of the game & provide clues to aid in your search. The total length of
        these
        videos
        has been included in the total time required to complete the game, so it is vital to carefully watch &
        listen to
        them,
        without moving or doing anything else while they are playing.</p>
    <p>8. The hints are sent in parallel to both the smartphone & the TV screens. The smartphone should remain on
        your
        person
        AT ALL TIMES for the quickest response time.</p>
    <p>9. Filming & taking photos in the Bookstore is strictly forbidden without approval/supervision of the game
        master.</p>
    <p>10. If you hear a loud paradox sound, you must stop whatever you are doing & gather in front of a TV screen
        as
        something
        paradoxical might have happened.</p>
    <p>11. In case of a power cut, emergency lighting will illuminate. Please follow the emergency signs to lead you
        to the
        exit. A member of our staff will be there to help & guide you.</p>
    <p>12. If someone is not feeling well or comfortable & wishes to leave the game, please alert the game master
        who will
        take
        the necessary steps to help that person exit the game as soon as possible.</p>
    <p>13. Please use the power of the mind, not brute strength.</p>

    <p>Enjoy the Paradox Experience!</p>


    <h4><u>Arriving At The Music Academy</u></h4>

    <h4><u>Invitation To Paradox Project: The Music Academy</u></h4>
    <p>After leaving, you forgot something… Relentless consequences are following you… Lurking behind your back,
        hidden in
        the
        shadows that you created… Come to The Bookstore below The Mansion at once! The masks are off… The rules have
        changed…
        The crucial time has arrived…</p>


    <b>*Cancellation Policy</b>
    <p>Paradox Project has the right to cancel or change your reservation if there is no reply to our efforts to
        confirm
        your
        booking.
        *If you wish to cancel or change your reservation, please contact us at least two days before, by calling
        <mark><b>+306957272369</b></mark>,
        sending an email to info@paradoxproject.gr or by message on our Facebook page.
    </p>
    <h4><u>Protection measures against Covid-19</u></h4>
    <p>
        Entrance is allowed only to those who have been vaccinated with at least one (1) dose of vaccine and have
        certification
        of having had the virus with a period of validity from two (2) to six (6) months from the date of infection,
        issued when
        thirty (30) days have passed since the first positive test, or to those able to present a negative result from a
        self-diagnostic test (selftest) taken within the preceding 24 hours!
    </p>
</body>

</html>