<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
</head>

<body>

    <h3>Dear&nbsp;{{.Name}},</h3>

    <p>Thank you for booking an appointment at Paradox Project 2: <b>The Mansion</b>! You
        have booked <b>{{.Players}}</b> Players at <b>{{.Date}}</b>. </p>

    <h4>The Letter</h4>
    <h5>I know it has been a long time since we last saw each other. As
        you probably remember, I was never much in contact with
        members of our family. First it was my seafaring journeys around
        the world, and after that the years in Africa, inevitably created
        distance between us...
        Since coming back, I have thought of contacting you several
        times. But I haven't done it. Until today. This has been imposed on
        me by the current situation. The unpleasant truth cannot wait.
        Shadows have been gathering around me. I cannot bear to lose my
        my most precious possession, the one I went into so much trouble
        to gain. Maybe I am not thinking straight, maybe my mind is
        playing dark games, but I can not risk it... I have to share it all with
        someone, with someone who will understand. There is no other
        way. If what I sensed back then was correct, if your eyes still have
        the same sparkle, then you are the only one I can turn to. It's time
        to hand over the baton.</br>

        I will be waiting for you.
    </h5>

    <p>Please read the following carefully before the game:</p>

    <h4><u>The Paradox Project Game Rules</u></h4>

    <p>-Please do not move or lift heavy furniture, such as the sofa, the armchairs, the bed.</p>
    <p>-Please do not climb anywhere.</p>
    <p>-Please do not step behind the bar, since everything in there is out of game. The same applies to the bottles
        that
        are
        glued at the bar.</p>
    <p>-There is room with a spy hole which is locked & should be also considered off limits.</p>
    <p>-The WC is available for the whole duration of the game. No clues are hidden inside, so there is no need to
        search
        there.</p>
    <p>-Please do not open the aquarium.</p>
    <p>-Please do not open windows & balcony doors.</p>
    <p>-There are some stickers that read DO NOT TOUCH, DO NOT OPEN etc. These items require special attention.</p>
    <p>-You will encounter some boxes with electronic equipment that you shouldn't touch. It is also forbidden to
        unplug
        anything or pull cables.</p>
    <p>-Hints are sent simultaneously at the TV & at the smartphone you will find. It would be advised to keep the
        smartphone
        on you at all times for your convenience.</p>
    <p>-If you hear a loud paradox sound, you must stop whatever you are doing & gather in front of a TV screen as
        something
        paradoxical might have happened.</p>
    <p>Please use the power of the mind, not brute strength.</p>

    <p>Enjoy the Paradox Experience!</p>

    <b>*Cancellation Policy</b>
    <p>Paradox Project has the right to cancel or change your reservation if there is no reply to our efforts to
        confirm
        your
        booking.
        *If you wish to cancel or change your reservation, please contact us at least two days before, by calling
        <mark><b>+306957272369</b></mark>,
        sending an email to info@paradoxproject.gr or by message on our Facebook page.
    </p>

    <br />
    <h4><u>Protection measures against Covid-19</u></h4>
    <p>
        Entrance is allowed only to those who have been vaccinated with at least one (1) dose of vaccine and have
        certification
        of having had the virus with a period of validity from two (2) to six (6) months from the date of infection,
        issued when
        thirty (30) days have passed since the first positive test, or to those able to present a negative result from a
        self-diagnostic test (selftest) taken within the preceding 24 hours!
    </p>
</body>

</html>