<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
</head>

<body>
    <h3>Αγαπητέ/τή&nbsp;{{.Name}},</h3>

    <p>Σας ευχαριστούμε για την κράτηση σας στο Paradox Project: <b>Το Βιβλιοπωλείον</b>! Έχετε κάνει κράτηση για
        <b>{{.Players}}</b> παίκτες στις <b>{{.Date}}</b>.
    </p>
    <p>Διαβάστε τα ακόλουθα προσεκτικά πριν το παιχνίδι:</p>
    <h4><u></u>Κανόνες Paradox Project: Το Βιβλιοπωλείον</u></h4>
    <p>1. Δεν σκαρφαλώνουμε πουθενά & δεν ανεβαίνουμε σε κανένα έπιπλο.</p>
    <p>2. Όπου υπάρχει ειδική σήμανση DO NOT TOUCH δεν αγγίζουμε.</p>
    <p>3. Δεν τοποθετούμε κανένα αντικείμενο πάνω στον πάγκο με την ταμειακή μηχανή, πέρα απ’ όσα βρίσκονται ήδη εκεί,
        λόγω του ηλεκτρολογικού εξοπλισμού που είναι αποθηκευμένος σε αυτόν.</p>
    <p>4. Μπορείτε να αφήσετε τα προσωπικά σας αντικείμενα στην κρεμάστρα μπαίνοντας αριστερά σας, καθώς & στον πάγκο
        δεξιά σας.</p>
    <p>5. Δεν ακουμπάμε νερά, καφέδες, αναψυκτικά κλπ., οπουδήποτε αλλού εκτός από τον πάγκο μπαίνοντας δεξιά.
    <p>6. Οι
        κάμερες, τα ηχεία & τα μικρόφωνα δεν αποτελούν μέρος του παιχνιδιού. Μην τα αγγίζετε.
    <p>7. Τα videos & τα
        ηχητικά αποτελούν μέρος του παιχνιδιού & περιέχουν στοιχεία για την αναζήτηση σας. Η συνολική διάρκεια
        τους έχει υπολογιστεί μέσα στον χρόνο που έχετε στη διάθεση σας, οπότε είναι απαραίτητο όσο προβάλλεται
        κάποιο video ή ακούγεται κάποιο ηχητικό μήνυμα, να τα παρακολουθείτε προσεκτικά, χωρίς να κάνετε
        οτιδήποτε άλλο εκείνη τη στιγμή.</p>
    <p>8. Οι βοήθειες έρχονται ταυτόχρονα στο smartphone & προβάλλονται στην τηλεόραση. Το smartphone ΠΡΕΠΕΙ ΝΑ
        ΕΙΝΑΙ πάντα πάνω σας για πιο άμεση ανταπόκριση.</p>
    <p>9. Απαγορεύεται η λήψη φωτογραφιών & video στον χώρο χωρίς τη σύμφωνη γνώμη της εταιρείας.</p>
    <p>10. Αν ακουστεί ένας δυνατός παράδοξος ήχος, τότε σταματήστε αμέσως ό,τι κάνετε & μεταβείτε μπροστά στην
        τηλεόραση καθώς κάτι παράδοξο θα έχει συμβεί.</p>
    <p>11. Αν συμβεί διακοπή ηλεκτρικού ρεύματος, τότε θα ανάψουν αυτόματα τα φώτα ασφαλείας. Πρέπει να
        κατευθυνθείτε εκεί που σας οδηγεί η σήμανση, ενώ κάποιος από το προσωπικό μας θα σας βοηθήσει άμεσα.</p>
    <p>12. Αν κάποιος αισθανθεί άβολα & θέλει να αποχωρήσει, αρκεί να το δηλώσει & το προσωπικό μας θα κάνει τις
        απαραίτητες ενέργειες άμεσα.</p>
    <p>13. Χρησιμοποιείστε τη δύναμη του μυαλού σας & όχι τη σωματική σας δύναμη!</p>
    <p>Καλή διασκέδαση!</p>
    <h4><u>Προσέλευση Στο Βιβλιοπωλείον</u></h4>
    <p>Λόγω της φύσης του παιχνιδιού μας, κρίνεται εξαιρετικά σημαντικό να προσέλθετε στο χώρο την ακριβή ώρα
        της κράτησής σας. Το Βιβλιοπωλείον βρίσκεται στο ισόγειο, οπότε δεν υπάρχει κανένας λόγος να ανεβείτε
        στην Έπαυλη που βρίσκεται στον δεύτερο όροφο του κτιρίου, ούτε πριν ούτε μετά το παιχνίδι. Η υποδοχή των
        ομάδων δεν είναι δυνατόν να γίνεται νωρίτερα & ΠΡΕΠΕΙ ΟΛΟΙ οι συμμετέχοντες να εισέρχονται ταυτόχρονα.
    </p>
    <h4><u>Πρόσκληση Paradox Project: Το Βιβλιοπωλείον</u></h4>
    <p>Φεύγοντας, ξεχάσατε κάτι. Οι συνέπειες, αμείλικτες, είναι στο κατόπι σας. Καιροφυλακτούν πίσω απ' την
        πλάτη σας, αθέατες, κρυμμένες στις σκιές που εσείς οι ίδιοι δημιουργήσατε στο πέρασμά σας. Ελάτε στο
        Βιβλιοπωλείον κάτω από την Έπαυλη. Οι μάσκες έπεσαν... Οι κανόνες άλλαξαν... Η κρίσιμη ώρα έφτασε… </p>
    <p>*Πολιτική Ακυρώσεων / Καθυστερήσεων Η εταιρία διατηρεί το δικαίωμα να ακυρώσει μία κράτηση ή να την
        τροποποιήσει εάν δεν απαντηθούν οι προσπάθειες για την επιβεβαίωση του ραντεβού σας. Ακύρωση / Αλλαγή
        Κράτησης Για τυχόν ακύρωση ή αλλαγή της κράτησης σας, όπως παρακαλώ ακυρώσετε τουλάχιστον 2 μέρες
        νωρίτερα από την κράτηση σας, καλώντας στο <mark><b>6957272369</b></mark> ή στο
        <mark><b>2109523357</b></mark>.
    </p>
    <br />
    <h4><u>Μέτρα προστασίας κατά του Covid-19</u></h4>
    <p>
        Eίσοδος μόνο σε όσους έχουν εμβολιαστεί με μία (1) δόση τουλάχιστον ή διαθέτουν πιστοποιητικό νόσησης που
        εκδίδεται
        τριάντα (30) ημέρες και έως έξι (6) μήνες μετά τη νόσηση, το οποίο εκδίδεται με την παρέλευση τριάντα (30)
        ημερών από
        τον πρώτο θετικό έλεγχο ή σε όσους έχουν αρνητικό αποτέλεσμα αυτοδιαγνωστικού ελέγχου (selftest) το τελευταίο
        24ωρο.
    </p>
    <p>Ευχαριστούμε.</p>
</body>

</html>