<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
</head>

<body>
    <h3>Αγαπητέ/τή&nbsp;{{.Name}},</h3>

    <p>Σας ευχαριστούμε για την κράτηση σας στο Paradox Project: <b>Το Ωδείον</b>! Έχετε κάνει κράτηση για
        <b>{{.Players}}</b> παίκτες στις <b>{{.Date}}</b>.
    </p>
    <p>Διαβάστε τα ακόλουθα προσεκτικά πριν το παιχνίδι:</p>
    <h4><u>Κανόνες Paradox Project: Το Ωδείον</u></h4>
    <p>- Δεν ανεβαίνουμε σε κανένα έπιπλο & δεν σκαρφαλώνουμε πουθενά.</p>
    <p>- Δεν ανοίγουμε παράθυρα.</p>
    <p>- Όπου υπάρχει ειδική σήμανση DO NOT TOUCH δεν πειράζουμε, ούτε ακουμπάμε καθόλου.</p>
    <p>- Δεν βγάζουμε πράγματα από τις πρίζες & δεν τραβάμε καλώδια.</p>
    <p>- Η τουαλέτα & οι κοινόχρηστοι χώροι είναι προσβάσιμοι καθ’ όλη τη διάρκεια του παιχνιδιού, αλλά δεν αποτελούν
        μέρος
        του.</p>
    <p>- Οι βοήθειες έρχονται στο smartphone & μόνο σε όσους χώρους διαθέτουν τηλεόραση προβάλλονται ταυτόχρονα & σε
        αυτήν.
        Οπότε, παρακαλείστε να έχετε το smartphone πάντα πάνω σας για πιο άμεση ανταπόκριση.</p>
    <p>- Απαγορεύεται η λήψη φωτογραφιών & video στον χώρο χωρίς τη σύμφωνη γνώμη της εταιρείας.</p>
    <p>- Αν ακουστεί ένας δυνατός παράδοξος ήχος, τότε σταματήστε αμέσως ό,τι κάνετε & μεταβείτε μπροστά στην τηλεόραση
        καθώς
        κάτι παράδοξο θα έχει συμβεί.</p>
    <p>- Χρησιμοποιείστε τη δύναμη του μυαλού σας & όχι τη σωματική σας δύναμη!</p>
    <p>Καλή διασκέδαση!</p>
    <h4><u>Προσέλευση Στο Ωδείον</u></h4>
    <p>ΠΡΟΣΟΧΗ! Το Ωδείον βρίσκεται Αγίων Πάντων 92, Καλλιθέα & ΟΧΙ στο κτίριο που στεγάζεται Η Έπαυλη & Το
        Βιβλιοπωλείον!
        Λόγω της φύσης του παιχνιδιού μας, κρίνεται εξαιρετικά σημαντικό να προσέλθετε στο χώρο την ακριβή ώρα της
        κράτησής σας.
    </p>
    <h4><u>Πρόσκληση Paradox Project: Το Ωδείον</u></h4>
    <p>Ένα ιδιαίτερο Ωδείον... Νότες γεμάτες κρυμμένα μυστικά που μπλέκονται & σχηματίζουν μια μελωδία υπερβατική,
        χαμένη στους
        αιώνες... Το έντονο της κρεσέντο πνίγει τις κοφτές ανάσες αγωνίας μπροστά σε ένα προδιαγεγραμμένο φινάλε... Η
        μουσική
        σταματάει... Μια τραγωδία που θάφτηκε στο σκοτάδι... Χρόνια μετά, μια τελευταία ευκαιρία απονομής δικαιοσύνης...
        Τώρα
        πια, που όλα έχουν καταρρεύσει, δεν υπάρχουν κανόνες...</p>
    <br>
    <p>*Πολιτική Ακυρώσεων / Καθυστερήσεων</p>
    <p>Η εταιρεία διατηρεί το δικαίωμα να ακυρώσει μία κράτηση ή να την τροποποιήσει εάν δεν απαντηθούν οι προσπάθειες
        για την
        επιβεβαίωση του ραντεβού σας. Για τυχόν καθυστέρηση με δική σας υπαιτιότητα ενδέχεται το παιχνίδι να μετατεθεί ή
        να
        ακυρωθεί.</p>
    <p>*Ακύρωση / Αλλαγή Κράτησης</p>
    <p>Για τυχόν ακύρωση ή αλλαγή του παιχνιδιού σας, όπως παρακαλώ ενημερώσετε τουλάχιστον δύο (2) μέρες νωρίτερα από
        την
        κράτηση σας, καλώντας στο <mark><b>6957272369</b></mark> ή στο
        <mark><b>2109523357</b></mark>.
    </p>
    <br />
    <h4><u>Μέτρα προστασίας κατά του Covid-19</u></h4>
    <p>
        Eίσοδος μόνο σε όσους έχουν εμβολιαστεί με μία (1) δόση τουλάχιστον ή διαθέτουν πιστοποιητικό νόσησης που
        εκδίδεται
        τριάντα (30) ημέρες και έως έξι (6) μήνες μετά τη νόσηση, το οποίο εκδίδεται με την παρέλευση τριάντα (30)
        ημερών από
        τον πρώτο θετικό έλεγχο ή σε όσους έχουν αρνητικό αποτέλεσμα αυτοδιαγνωστικού ελέγχου (selftest) το τελευταίο
        24ωρο.
    </p>
    <p>Ευχαριστούμε.</p>
</body>

</html>