<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
</head>

<body>
    <h3>Αγαπητέ/τή&nbsp;{{.Name}},</h3>
    <p>Σας ευχαριστούμε για την κράτηση σας στο Paradox Project Paros: <b>Η Έπαυλη Πάρου</b>! Έχετε κάνει κράτηση για
        <b>{{.Players}}</b> παίκτες στις <b>{{.Date}}</b>.
    </p><br>
    <p>Διαβάστε τα ακόλουθα προσεκτικά πριν το παιχνίδι:</p>
    <h4><u>Κανόνες Paradox Project Paros: Η Έπαυλη Πάρου</u></h4>
    <p>- Δεν μετακινούμε τον καναπέ, τις πολυθρόνες.</p>
    <p>- Δεν ανεβαίνουμε σε κανένα έπιπλο & δεν σκαρφαλώνουμε πουθενά.</p>
    <p>- Δεν μπαίνουμε πίσω από το bar, καθώς ό,τι βρίσκεται μέσα/πίσω από αυτό καθώς & τα μπουκάλια που είναι κολλημένα
        στα
        ράφια εκεί, είναι εκτός παιχνιδιού.</p>
    <p>- Η τουαλέτα είναι ανοιχτή καθ’όλη τη διάρκεια του παιχνιδιού. Δεν έχει κάμερες, μικρόφωνα & δεν κρύβει κανένα
        στοιχείο,
        οπότε μην την ψάξετε!</p>
    <p>- Όπου υπάρχει ειδική σήμανση DO NOT TOUCH δεν πειράζουμε ούτε ακουμπάμε καθόλου.</p>
    <p>- Σε κάποια δωμάτια υπάρχουν κουτιά ηλεκτρολογικού εξοπλισμού. Δεν τα πειράζουμε, τραβάμε, ψάχνουμε, κλείνουμε
        διακόπτες
        & γενικά δεν βγάζουμε πράγματα από τις πρίζες & δεν τραβάμε καλώδια.</p>
    <p>- Οι βοήθειες έρχονται ταυτόχρονα στο smartphone & προβάλλονται στην τηλεόραση. Παρακαλείστε να έχετε το
        smartphone
        πάντα πάνω σας για πιο άμεση ανταπόκριση.</p>
    <p>- Απαγορεύεται η λήψη φωτογραφιών & video στον χώρο χωρίς τη σύμφωνη γνώμη της εταιρείας.</p>
    <p>- Αν ακουστεί ένας δυνατός παράδοξος ήχος, τότε σταματήστε αμέσως ό,τι κάνετε & μεταβείτε μπροστά στην τηλεόραση
        καθώς
        κάτι παράδοξο θα έχει συμβεί.</p>

    <p>Χρησιμοποιείστε τη δύναμη του μυαλού σας & όχι τη σωματική σας δύναμη!</p>
    <p>Καλή διασκέδαση!</p>
    <h4><u>Προσέλευση Στην Έπαυλη</u></h4>
    <p>Λόγω της φύσης του παιχνιδιού μας, κρίνεται εξαιρετικά σημαντικό να προσέλθετε στο χώρο την ακριβή ώρα της
        κράτησής σας.
        Ο χώρος της Έπαυλης στην Πάρο βρίσκεται: <a href="https://goo.gl/maps/Wd1N6nBACca119vHA">ΕΔΩ</a>. Η υποδοχή των
        ομάδων δεν είναι
        δυνατόν
        να γίνεται νωρίτερα & ΠΡΕΠΕΙ ΟΛΟΙ οι συμμετέχοντες να εισέρχονται ταυτόχρονα. </p>
    <h4><u>Πρόσκληση Paradox Project Paros: Η Έπαυλη Πάρου</u></h4>
    <p>Γνωρίζω πως έχει περάσει πολύς καιρός από τότε που ειδωθήκαμε τελευταία φορά. Όπως μάλλον θα θυμάσαι, ποτέ δεν
        είχα
        ιδιαίτερες επαφές με τα μέλη της οικογένειάς μας. Πρώτα τα ταξίδια μου σε όλο τον κόσμο με τα καράβια, μετά τα
        χρόνια
        στην Αφρική, αναπόφευκτα δημιούργησαν απόσταση... Από τότε που επέστρεψα, σκέφτηκα αρκετές φορές να επικοινωνήσω
        μαζί
        σου. Δεν το έκανα. Μέχρι σήμερα. Που οι συνθήκες το επέβαλαν. Η πικρή αλήθεια δεν μπορεί να περιμένει. Οι σκιές
        γύρω μου
        πυκνώνουν. Δε γίνεται να χάσω ό,τι πολύτιμο απέκτησα με τόσο κόπο. Μπορεί να παραλογίζομαι, μπορεί το μυαλό μου
        να
        παίζει σκοτεινά παιχνίδια, αλλά δεν μπορώ να το ρισκάρω... Πρέπει να μοιραστώ τα πάντα με κάποιον, με κάποιον
        που θα
        καταλάβει. Δεν υπάρχει κανένας άλλος. Αν είχα διαισθανθεί σωστά τότε, αν τα μάτια σου έχουν την ίδια σπιρτάδα,
        μόνο σε
        εσένα μπορώ να απευθυνθώ τώρα. Ήρθε η ώρα να παραδώσω τη σκυτάλη. </p>
    <p>Σε περιμένω…</p>
    <p> *Πολιτική Ακυρώσεων / Καθυστερήσεων Η εταιρεία διατηρεί το δικαίωμα να ακυρώσει μία κράτηση ή να την
        τροποποιήσει εάν
        δεν απαντηθούν οι προσπάθειες για την επιβεβαίωση του ραντεβού σας. Για τυχόν καθυστερήσεις με δικής σας
        υπαιτιότητα
        διατηρούμε το δικαίωμα να ακυρώσουμε την κράτηση σας. Ακύρωση / Αλλαγή Κράτησης Για τυχόν ακύρωση ή αλλαγή της
        κράτησης
        σας, όπως παρακαλώ ακυρώσετε τουλάχιστον 2 μέρες νωρίτερα από την κράτηση σας, καλώντας στο
        <mark><b>6946127873</b></mark> / <mark><b>6989940866</b></mark>.
    </p>
    <br />
    <h4><u>Μέτρα προστασίας κατά του Covid-19</u></h4>
    <p>
        Eίσοδος μόνο σε όσους έχουν εμβολιαστεί με μία (1) δόση τουλάχιστον ή διαθέτουν πιστοποιητικό νόσησης που
        εκδίδεται
        τριάντα (30) ημέρες και έως έξι (6) μήνες μετά τη νόσηση, το οποίο εκδίδεται με την παρέλευση τριάντα (30)
        ημερών από
        τον πρώτο θετικό έλεγχο ή σε όσους έχουν αρνητικό αποτέλεσμα αυτοδιαγνωστικού ελέγχου (selftest) το τελευταίο
        24ωρο.
    </p>
    <p>Ευχαριστούμε.</p>
</body>

</html>