<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
</head>

<body>
    <h3>Dear Paradox Admin,</h3>
    <p>The client: &nbsp;{{.Name}}&nbsp;has booked an appointment at the <b>{{.RoomName}}&nbsp;</b>
        at <b>{{.Date}}</b>.</p>
    <h4> Details:</h4>
    <p>Βοήθειες:&nbsp;<b>{{.Helps}}</b></p>
    <p>Επίπεδο Εμπειρίας:&nbsp;<b>{{.Level}}</b></p>
    <p>Όνομα ομάδας:&nbsp;<b>{{.TeamName}}</b></p>
    <p>Από που:&nbsp;<b>{{.LearnUs}}</b></p>
    <p>Γλώσσα Παιχνιδιού:&nbsp;<b>{{.Lang}}</b></p>
    <p>Ηλικία παικτών κάτω των 18:&nbsp;<b>{{.Age}}</b></p>
    <p>Τηλέφωνο:&nbsp;<b>{{.Phone}}</b></p>
    <p>Email:&nbsp;<b>{{.Email}}</b></p> {{if (eq .RoomID 2)}}
    <p>Έχει παίξει την Έπαυλη:&nbsp;<b>{{.PlayRoom1}}</b></p>
    <p>Βρήκε τον χαμμένο θυσαυρό:&nbsp;<b>{{.EscRoom1}}</b></p> {{end}}
    <p>Σχόλια:&nbsp;<b>{{.Notes}}</b></p>
</body>

</html>