<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
</head>

<body>
    <h3>Dear Paradox Admin,</h3>
    <p>The client:&nbsp;{{.Name}}&nbsp;has cancelled the appointment at the
        <b>{{.RoomName}}</b>&nbsp;</b> at <b>{{.Date}}</b>.
</body>

</html>