<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
</head>

<body>
    <h3>Dear&nbsp;{{.Name}},</h3>
    <p>This is a confirmation that your booking with&nbsp;{{.Players}}&nbsp;Players at
        the&nbsp;<b>{{.RoomName}}&nbsp;</b> has been changed to <b>{{.Date}}</b>.
    </p>
    <p>We look forward to seeing you!</p>
    <p>Kind regards,</p><b>Paradox Project</b>
</body>

</html>