<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
</head>

<body>
    <h3>Dear&nbsp;{{.Name}},</h3>
    <p>This is a reminder that you have booked <b>{{.Players}}</b> Players at Paradox Project:
        &nbsp;<b>{{.RoomName}}&nbsp;</b> at <b>{{.Date}}</b>. </p>
    <p>We look forward to seeing you!</p>
    <h3><u>*Cancellation Policy</u>:</h3>
    <p>Paradox Project has the right to cancel or alter your reservation if there is no reply to our efforts to confirm
        your booking. *If you wish to cancel or change your reservation, please contact us at least two days before, by
        calling at
        <mark><b>+306957272369</b></mark>, sending an email at <b>info@paradoxproject.gr</b> or by message on our
        Facebook page.
    </p>
    <h4><u>Protection measures against Covid-19</u></h4>
    <p>
        Entrance is allowed only to those who have been vaccinated with at least one (1) dose of vaccine and have
        certification
        of having had the virus with a period of validity from two (2) to nine (9) months from the date of infection,
        issued
        when thirty (30) days have passed since the first positive test, or to those able to present a negative result
        from a
        self-diagnostic test (selftest) taken within the preceding 24 hours.
    </p>
    <p>Kind regards,</p><b>Paradox Project</b>
</body>

</html>