<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
</head>

<body>
    <h3>Dear&nbsp;{{.Name}},</h3>
    <p>This is a reminder that you have booked <b>{{.Players}}</b> Players at Paradox Project:
        &nbsp;<b>{{.RoomName}}</b>&nbsp;</b> at <b>{{.Date}}</b>. </p>
    <p>We look forward to seeing you!</p>
    <h3><u>Ακύρωση / Αλλαγή Κράτησης</u>:</h3>
    <p>Για τυχόν ακύρωση ή αλλαγή της κράτησης σας, όπως παρακαλώ ακυρώσετε τουλάχιστον 2 μέρες νωρίτερα από την κράτηση
        σας, καλώντας στο
        <mark><b>6957272369</b></mark> ή στο
        <mark><b>2109523357</b></mark>. Ευχαριστούμε.
    </p>
    <h4><u>Μέτρα προστασίας κατά του Covid-19</u></h4>
    <p>
        Είσοδος μόνο σε όσους έχουν εμβολιαστεί με μία (1) δόση τουλάχιστον ή διαθέτουν πιστοποιητικό νόσησης που έχει
        ισχύ για
        χρονικό διάστημα από δύο (2) έως εννέα (9) μήνες μετά τη νόσηση, το οποίο εκδίδεται με την παρέλευση τριάντα
        (30) ημερών
        από τον πρώτο θετικό έλεγχο ή σε όσους έχουν αρνητικό αποτέλεσμα αυτοδιαγνωστικού ελέγχου (selftest) το
        τελευταίο 24ωρο.
    </p>
    <p>Με εκτίμηση,</p><b>Paradox Project</b>
</body>

</html>