<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
</head>

<body>
    <h3>Dear&nbsp;{{.Name}},</h3>
    <p>We are constantly trying to improve our services in order to service our clients better in the future.</p>
    <p>We would appreciate it greatly if you could give us a few minutes of your time to send us your feedback regarding
        your experience with us through the following links:
        <br>1) <a
            href="https://www.tripadvisor.com.gr/Attraction_Review-g189400-d8686485-Reviews-Paradox_Project-Athens_Attica.html">Tripadvisor</a>
        </br>2) <a href="https://www.facebook.com/paradoxprojectgr/reviews">Facebook</a> </br>3) <a
            href="https://www.google.com/search?q=paradox+project&oq=para&aqs=chrome.1.69i60j69i59j69i57j35i39j0j69i60j69i61j69i60.2391j0j7&sourceid=chrome&ie=UTF-8#lrd=0x14a1bcf8e3a8f505:0xd72de356a1596eff,1,,,">Google</a>
    </p>
    <p>Thank you!</p>
    <p>Kind regards,</p><b>Paradox Project</b>
</body>

</html>