/* ================================== */
/* ============= GENERAL ============ */
/* ================================== */

// body {
//     background: #efefef;
// }

.btn-paradox {
    background: #d62424;
    color: #fff;
}

// .container {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
//   }


.bg-paradox {
    background: #cccccc;
    color: #d62424;
}

/* ================================== */
/* ============= RIBBON ============= */
/* ================================== */

.ribbon-online-cat {
    position: absolute;
    left: -7px;
    top: -7px;
    z-index: 1;
    overflow: hidden;
    width: 105px;
    height: 105px;
    text-align: right;
}

.ribbon-online-cat span {
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 120px;
    display: block;
    background-color: #d62424;
    box-shadow: 0 3px 10px -5px black;
    position: absolute;
    top: 27px;
    left: -23px;
}

.ribbon-online-cat span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #000000;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #000000;
}

.ribbon-online-cat span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #000000;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #000000;
}


/* ================================== */
/* ============== CARD ============== */
/* ================================== */

.card-body {
    flex: 1 1 auto;
    padding: 1rem;
}

.space-bottom {
    padding-bottom: 1.2rem;
}

.tab-step {
    font-size: 18px;
    font-weight: bold;
    color:  #d62424;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

/* ================================== */
/* ================ICONS============= */
/* ================================== */

.icon {
    color: #d62424;
    text-shadow: 1px 1px 1px rgb(112, 112, 112);
    font-size: 1.3em;
}

/* ================================== */
/* =========BUTTON OF ROOMS========= */
/* ================================== */

.btn-client {
    font-size: 13px;
    font-weight: bold;
    padding: 3%;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background: #d62424;
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
}

.btn-vimeo, .btn-vimeo:hover, .btn-vimeo:active, .btn-vimeo:visited {
    background-color: #ddbd06 !important;
    border-color:  #ddbd06 !important;
}

.btn-admin {
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-align: center;
}

.room-title {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

/* ================================== */
/* =========BUTTON ON CLIENT========= */
/* ================================== */

.photos:hover {
    opacity: .5;
    transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}

.photos {
    opacity: 1;
}


.centered {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================== */
/* ==============T-SHIRT============= */
/* ================================== */

.t-shirt {
    width: 100%;
    height: 100%;
    margin: auto;    
    display: block;
}


.sticky-footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }